<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wiseflow.mapper.SeoKeywordMapper">
    
    <update id="batchUpdateStatus">
        UPDATE wf_seo_keyword
        SET enabled = #{enabled}
        WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
    
    <delete id="batchDelete">
        DELETE FROM wf_seo_keyword
        WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
    <select id="findByDomainConfig" resultType="com.wiseflow.entity.SeoKeyword">
        SELECT *
        FROM wf_seo_keyword
        WHERE domain_config = #{domainConfigId}
        ORDER BY type ASC, weight DESC
    </select>
    
    <select id="findShowOnHomepage" resultType="com.wiseflow.entity.SeoKeyword">
        SELECT *
        FROM wf_seo_keyword
        WHERE domain_config = #{domainConfigId}
        AND show_on_homepage = 1
        AND enabled = 1
        ORDER BY type ASC, weight DESC
    </select>
    
    <select id="findByType" resultType="com.wiseflow.entity.SeoKeyword">
        SELECT *
        FROM wf_seo_keyword
        WHERE domain_config = #{domainConfigId}
        AND type = #{type}
        AND enabled = 1
        ORDER BY weight DESC
    </select>
    
    <select id="findByUseScene" resultType="com.wiseflow.entity.SeoKeyword">
        SELECT *
        FROM wf_seo_keyword
        WHERE domain_config = #{domainConfigId}
        AND (use_scene = #{useScene} OR use_scene = 3)
        AND enabled = 1
        ORDER BY type ASC, weight DESC
    </select>
</mapper> 